---
import FeatureCard from '@components/FeatureCard/FeatureCard.astro';
import venue from '@images/venue-map.png';
---

<FeatureCard title="Venue Map" image={venue} imageAlt="Venue map" isImageOnRight={true}>
  <ul class="ml-4 list-outside list-disc">
    <li>Starting Area</li>
    <li>First Aid Station</li>
    <li>Souvenir Store</li>
    <li>Sponsor Booths</li>
  </ul>
  <br />
  <p>
    The main event hub runs from 10:00am–5:00pm at Gravel Parking with food trucks, vendors, sponsor
    tents, and live music throughout the day.
  </p>
</FeatureCard>
