---
/**
 * * Volunteer section
 */
import FeatureCard from '@components/FeatureCard/FeatureCard.astro';
import volunteerImage from '@images/volunteer1.jpg';
---

<section id="volunteer" class="site-container">
  <FeatureCard
    title="Volunteer"
    image={volunteerImage}
    imageAlt="Volunteers"
    href="/volunteer"
    buttonText="Join our team"
  >
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod, similique vero! Earum quae quam
    blanditiis? Veritatis explicabo officia illum ab enim facere reiciendis assumenda nulla
    voluptate dolorem quos placeat animi praesentium odit ratione voluptatibus, quae itaque optio ut
    ea atque pariatur cumque nisi ipsam. Deserunt perspiciatis libero aperiam eius quod!
  </FeatureCard>
</section>
