---
/**
 * * Route section
 */

import Button from '@components/Button/Button.astro';
import ImageSection from '@components/ImageSection/ImageSection.astro';
import route3 from '@images/route-3.jpg';
import sfuAerial2 from '@images/sfu-aerial-2.jpg';
import { Image } from 'astro:assets';

export interface RunRoute {
  name: string;
  distance: number;
  elevation: string;
  terrain: string;
  image: ImageMetadata;
}
---

<ImageSection
  id="routes"
  heading="Route Map"
  backgroundImage={sfuAerial2}
  backgroundImageAlt="Route overview"
>
  <div class="mx-auto grid max-w-6xl gap-8 md:grid-cols-2 md:grid-rows-4">
    <div class="bg-white p-8 md:row-span-4">
      <Image
        src={route3}
        alt="Route Map"
        width={450}
        densities={[1.5, 2, 3]}
        class="h-auto min-h-full w-full min-w-full object-contain"
      />
    </div>
    <div class="flex flex-col justify-between bg-white p-8 md:row-span-3">
      <div>
        <h2 class="h2 text-center">Route Info</h2>
        <p class="text-lg">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus consequatur ex esse nisi
          ea nemo temporibus alias, dolorum corrupti fuga accusantium sapiente magni deserunt, a
          molestiae repudiandae. Odit, blanditiis soluta?
        </p>
      </div>
      <div class="flex justify-center">
        <Button href="/register" class="text-lg" variant="primary">Register</Button>
      </div>
    </div>
    <div class="grid place-items-center bg-white p-8">
      <p class="text-3xl">
        <span class="font-decorative text-primary-700 text-5xl">12 km</span> through ancestral
        <span class="text-primary-700">Lhuḵw'lhuḵw'áyten</span>
        territory
      </p>
    </div>
  </div>
</ImageSection>
