---
/**
 * * Route section
 */

import Button from '@components/Button/Button.astro';
import ImageSection from '@components/ImageSection/ImageSection.astro';
import RouteMap from '@components/RouteMap/RouteMap.astro';
import sfuAerial2 from '@images/sfu-aerial-2.jpg';

export interface RunRoute {
  name: string;
  distance: number;
  elevation: string;
  terrain: string;
  image: ImageMetadata;
}
---

<ImageSection id="routes" backgroundImage={sfuAerial2} backgroundImageAlt="Route overview">
  <div class="mx-auto grid grid-cols-1 gap-8 md:max-w-6xl md:grid-cols-2 md:grid-rows-4">
    <div class="md:row-span-3">
      <RouteMap class="h-auto w-full" />
    </div>
    <div class="bg-base-50 flex flex-col justify-between p-8 md:row-span-3">
      <div>
        <h2 class="h2 text-center">Route Info</h2>
        <p class="text-lg">
          Sprint the Summit 2026 is SFU Burnaby’s inaugural 12 km running event on March 20. The
          route takes runners across beautiful Burnaby Mountain through the ancestral
          Lhuḵw’lhuḵw’áyten territory. Expect a supportive, community-focused run designed to bring
          students and neighbours together and build a new campus tradition.
        </p>
      </div>
      <div class="mt-4 flex justify-center gap-4">
        <Button href="/info" class="text-lg" variant="primary">Learn More</Button>
        <Button href="/register" class="text-lg" variant="primary">Register</Button>
      </div>
    </div>
    <div class="bg-base-50 grid place-items-center p-8 md:col-span-2">
      <p class="text-center text-3xl">
        <span class="font-decorative text-primary-700 text-5xl">12 km</span> through beautiful, ancestral
        <span class="text-primary-700">Lhuḵw'lhuḵw'áyten</span>
        territory
      </p>
    </div>
  </div>
</ImageSection>
