---
import FeatureCardNumbers from '@components/FeatureCard/FeatureCardNumbers.astro';

interface FeatureCardData {
  largeText: string;
  description: string;
}

// NOTE: You still need to manually update the heading that come before the cards
const featureData: FeatureCardData[] = [
  {
    largeText: '3',
    description: 'Routes'
  },
  {
    largeText: '5',
    description: 'KM'
  },
  {
    largeText: '1',
    description: 'New Memory'
  }
];
---

<section id="feature-numbers" class="bg-base-100 scroll-mt-10 py-8 md:py-12">
  <div class="mx-auto max-w-6xl px-4">
    <div class="text-prety mr-auto text-center">
      <h2 class="h2">Join SFSS's first marathon!</h2>
    </div>

    <div
      id="feature-numbers-cards"
      class="mt-6 grid gap-10 gap-y-16 sm:grid-cols-1 md:mt-12 lg:grid-cols-3"
    >
      {
        featureData.map((feature, _) => (
          <FeatureCardNumbers largeText={feature.largeText} description={feature.description} />
        ))
      }
    </div>
  </div>
</section>
