---
import FeatureCard from '@components/FeatureCard/FeatureCard.astro';
import Tricon from '@components/FeatureCard/Tricon.astro';
import VenueMap from '@components/FeatureCard/VenueMap.astro';
import route3 from '@images/route-3.jpg';
import PageLayout from '@layouts/PageLayout.astro';

const icons = [
  {
    href: '#info',
    descriptor: 'Route',
    iconName: 'common/route'
  },
  {
    href: '#venue',
    descriptor: 'Venue',
    iconName: 'common/map'
  }
];
---

<PageLayout title={'Info'} description={'Learn about Sprint the Summit'}>
  <Tricon icons={icons} />
  <section id="info">
    <FeatureCard title="Route Info" image={route3} imageAlt="Route Info">
      The Sprint the Summit route is a 12 km loop across Burnaby Mountain. The course is designed to
      be welcoming for first-time runners and experienced runners alike, with route signage,
      volunteers, and safety supports along the way. Runners will pass through the ancestral
      Lhuḵw’lhuḵw’áyten territory and experience some of the best views and forested paths Burnaby
      Mountain has to offer.
    </FeatureCard>
  </section>
  <section id="venue">
    <VenueMap />
  </section>
</PageLayout>
