---
import FeatureCard from '@components/FeatureCard/FeatureCard.astro';
import Tricon from '@components/FeatureCard/Tricon.astro';
import route3 from '@images/route-3.jpg';
import PageLayout from '@layouts/PageLayout.astro';

const icons = [
  {
    href: '#info',
    descriptor: 'Route',
    iconName: 'common/route'
  },
  {
    href: '#venue',
    descriptor: 'Venue',
    iconName: 'common/map'
  }
];
---

<PageLayout title={'Info'} description={'Learn about Sprint the Summit'}>
  <Tricon icons={icons} />
  <section id="info">
    <FeatureCard title="Route Info" image={route3} imageAlt="Route Info" bgColour="white">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod, similique vero! Earum quae
      quam blanditiis? Veritatis explicabo officia illum ab enim facere reiciendis assumenda nulla
      voluptate dolorem quos placeat animi praesentium odit ratione voluptatibus, quae itaque optio
      ut ea atque pariatur cumque nisi ipsam. Deserunt perspiciatis libero aperiam eius quod!
    </FeatureCard>
  </section>
  <section id="venue">
    <FeatureCard title="Venue Map" image={route3} imageAlt="Venue map" isImageOnRight={true}>
      <p>Make sure you know about these important areas:</p>
      <ul class="ml-4 list-outside list-disc">
        <li>Starting Area</li>
        <li>First Aid Station</li>
        <li>Souvenir Store</li>
        <li>Sponsor Booths</li>
      </ul>
    </FeatureCard>
  </section>
</PageLayout>
