---
import FeatureCard from '@components/FeatureCard/FeatureCard.astro';
import Tricon from '@components/FeatureCard/Tricon.astro';
import route3 from '@images/route-3.jpg';
import venue from '@images/venue-map.jpg';
import PageLayout from '@layouts/PageLayout.astro';

const icons = [
  {
    href: '#info',
    descriptor: 'Route',
    iconName: 'common/route'
  },
  {
    href: '#venue',
    descriptor: 'Venue',
    iconName: 'common/map'
  }
];
---

<PageLayout title={'Info'} description={'Learn about Sprint the Summit'}>
  <Tricon icons={icons} />
  <section id="info">
    <FeatureCard title="Route Info" image={route3} imageAlt="Route Info" bgColour="white">
      The Sprint the Summit route is a 12 km loop across Burnaby Mountain on March 20, 2026. The
      course is designed to be welcoming for first-time runners and experienced runners alike, with
      route signage, volunteers, and safety supports along the way. Runners will pass through the
      ancestral Lhuḵw’lhuḵw’áyten territory and experience some of the best views and forested paths
      Burnaby Mountain has to offer.
    </FeatureCard>
  </section>
  <section id="venue">
    <FeatureCard title="Venue Map" image={venue} imageAlt="Venue map" isImageOnRight={true}>
      <p>Make sure you know about these important areas:</p>
      <ul class="ml-4 list-outside list-disc">
        <li>Starting Area</li>
        <li>First Aid Station</li>
        <li>Souvenir Store</li>
        <li>Sponsor Booths</li>
      </ul>
      <br />
      <p>
        The main event hub runs from 10:00am–5:00pm at Gravel Parking with food trucks, vendors,
        sponsor tents, and live music throughout the day.
      </p>
    </FeatureCard>
  </section>
</PageLayout>
