---
import FeatureCard from '@components/FeatureCard/FeatureCard.astro';
import SponsorCards from '@components/SponsorCards/SponsorCards.astro';
import sfuFlag1 from '@images/sfu-flag-1.jpg';
import PageLayout from '@layouts/PageLayout.astro';
---

<PageLayout title={'Sponsor'} description={'Partner up to make this event a success!'}>
  <h2 class="h2 my-8 text-center">A huge thank you to our sponsors!</h2>
  <SponsorCards />
  <FeatureCard
    title="Become a Sponsor"
    image={sfuFlag1}
    imageAlt="SFU flag"
    href="/sts-sponsorship.pdf"
    buttonText="Learn More"
    externalLink={true}
  >
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat a at voluptates et aliquid,
    maxime officiis rerum modi ipsum explicabo!
  </FeatureCard>
</PageLayout>
