---
import FeatureCard from '@components/FeatureCard/FeatureCard.astro';
import volunteer2 from '@images/volunteer-2.jpg';
import PageLayout from '@layouts/PageLayout.astro';
---

<PageLayout title={'Volunteer'} description={'Help out with the event!'}>
  <section class="site-container">
    <FeatureCard
      title="Help make this event a success"
      image={volunteer2}
      imageAlt="Volunteers"
      href="/volunteer"
      buttonText="Join our team"
    >
      Sprint the Summit relies on volunteers to keep the course organized, runners supported, and
      the venue running smoothly. Volunteer roles include check-in, water stations, route
      marshalling, and venue set-up/tear-down. Volunteers can receive event operations training, CCR
      hours, and raffle entries for prizes.
    </FeatureCard>
  </section>
</PageLayout>
