---
import siteData from '@config/siteData.json';
import logo from '@images/logo.svg';
import { Image } from 'astro:assets';

const { showLogo = false } = Astro.props;
---

<a class="primary-focus flex items-center align-middle" href="/" aria-label="Home" class="">
  {
    showLogo && (
      <Image
        src={logo}
        alt="Sprint the Summit logo"
        loading="eager"
        width={100}
        height={100}
        class="h-14 w-14"
      />
    )
  }
  <div class="font-heading-1 text-xl uppercase">{siteData.name}</div>
</a>
