---
/**
 * * Sponsors section
 */

import profileImage from '@assets/images/landy-1.png';
import Button from '@components/Button/Button.astro';
import { Marquee, MarqueeContent } from '@ui/marquee';
import { Image } from 'astro:assets';
---

<section id="portfolio" class="site-container mt-12 scroll-mt-10 py-8 md:py-12">
  <div class="mx-auto max-w-6xl text-center">
    <h2 class="h2 text-pretty uppercase">Sponsors</h2>
  </div>
  <Marquee>
    <MarqueeContent>
      <Image src={profileImage} alt="Landy" class="w-32 rounded-full" />
      <Image src={profileImage} alt="Landy" class="w-32 rounded-full" />
      <Image src={profileImage} alt="Landy" class="w-32 rounded-full" />
    </MarqueeContent>
  </Marquee>
</section>
